% Run at max, i.e.: as quickly as possible
{mode, max}.

%% test duration
{duration, 1}.

% Run 3 concurrent clients
{concurrent, 3}.

%% The module name of the driver that Basho Bench will use to generate load.
{driver, basho_bench_driver_fmkclient}.

%% necessary code to run the client (probably only needs FMK)
{code_paths,
  [
    "_build/default/lib/fmk",
    "_build/default/lib/basho_bench",
    "_build/default/lib/lager",
    "_build/default/lib/hackney",
    "_build/default/lib/idna",
    "_build/default/lib/mimerl",
    "_build/default/lib/metrics",
    "_build/default/lib/certifi",
    "_build/default/lib/ssl_verify_fun"
  ]
}.

%%
{key_generator, {int_to_bin_bigendian, {uniform_int, 5000000}}}.

%%
{value_generator, {fixed_bin, 10000}}.

{fmk_servers, ["127.0.0.1:9090"]}.
{fmk_node, 'fmk@127.0.0.1'}.
{fmk_cookie, antidote}.

{numpatients,5000}.
{numfacilities,50}.
{numpharmacies,300}.
{numstaff,250}.
{numprescriptions,1000}.
{zipf_size,5000}.
{zipf_skew,1}.

{operations,[
  {get_pharmacy_prescriptions, 27},
  {get_prescription_medication, 27},
  {get_staff_prescriptions, 14},
  {create_prescription, 8},
  {get_processed_prescriptions, 7},
  {get_patient, 5},
  {update_prescription, 4},
  {update_prescription_medication, 4},
  {get_prescription, 4}
]}.
