{deps, [
    %% Hex dependencies
    {eredis, "~>1.1"},
    {jsx, "~>2.8"},
    {lager, "~>3.5"},
    {poolboy, "~>1.5"},
    {cowboy, "~>2.2"},
    {riak_client, "~>2.5"},
    %% Non-hex dependencies in legacy mode
    {antidote_pb, {git, "https://github.com/SyncFree/antidote_pb", {tag, "erlang19"}}}
]}.

{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir,"."}]}}
]}.

{erl_opts, [
    debug_info,
    warn_untyped_record,
    warnings_as_errors,
    {platform_define, "^[0-9]+", namespaced_types},
    {parse_transform, lager_transform}
]}.

{plugins, [coveralls]}.
{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, ["_build/test/cover/ct.coverdata", "_build/test/cover/eunit.coverdata"]}.
{coveralls_service_name, "travis-ci"}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info, warnings_as_errors]},
        {relx, [{dev_mode, false}]}
    ]},
    {test, [
        {erl_opts, [debug_info]},
        {deps, [
            {hackney, "1.9.0"},
            {lasp_bench, {git, "https://github.com/lasp-lang/lasp-bench", {tag, "fmke"}}}
        ]}
    ]},
    {lint,  [
        {plugins, [
            {rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "v0.1.9"}}}
        ]}
    ]}
]}.

{relx, [{release, {fmke, "0.1.0"}, [fmke], [
           {vm_args, "config/vm.args"},
           {dev_mode, false},
           {include_erts, true},
           {overlay, [
               {copy, "bin/env", "bin"},
               {copy, "config/fmke.config", "config/fmke.config"}
           ]},
           {overlay_vars, "config/vars.config"},
           {extended_start_script, true}]},

         {release, {fmke_test, "0.1.0"}, [fmke], [
            {vm_args, "config/vm_test.args"},
            {dev_mode, true},
            {include_erts, false},
            {overlay, [
                {copy, "bin/env_test", "bin"},
                {copy, "config/fmke.config", "config/fmke.config"}
            ]},
            {overlay_vars, "config/vars_test.config"},
            {extended_start_script, true}]}
       ]}.

{xref_checks, [
   deprecated_function_calls, deprecated_functions, exports_not_used, undefined_function_calls, undefined_functions
]}.
