{erl_opts,
  [
    debug_info

  ]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.
{deps, [
    {antidote_crdt, {git, "https://github.com/SyncFree/antidote_crdt", {tag, "master"}}},
    {riak_dt, ".*", {git, "git://github.com/aletomsic/riak_dt", {tag, "type_check_antidote"}}},
    {basho_bench, {git, "https://github.com/SyncFree/basho_bench", {tag, "antidote_pb-rebar3-erlang19"}}}
  ]}.
{overrides,[
{override,antidote_crdt,[]},
{override,riak_dt,[]}
]}.

{relx, [{release, {fmk, "0.0.1"},
         [fmk]},
         {vm_args, "config/vm.args"},
        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.
