{erl_opts, 
  [
    debug_info

  ]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.
{deps, [
    {antidote_crdt, {git, "https://github.com/deepthidevaki/antidote_crdt"}},
    {riak_dt, ".*", {git, "git://github.com/aletomsic/riak_dt", {tag, "type_check_antidote"}}}
  ]}.
{overrides,[
{override,antidote_crdt,[]},
{override,riak_dt,[]}
]}.

{relx, [{release, {fmk, "0.1.0"},
         [fmk]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.