{fmke_nodename, 'fmke_ct_antidote_non_nested@127.0.0.1'}.
{ct_nodename, 'ct_antidote_non_nested@127.0.0.1'}.
{database_addresses, ["127.0.0.1"]}.
{database_ports, [12000]}.
{target_database, antidote}.
{data_model, non_nested}.
{optimized_driver, true}.
{connection_pool_size, 30}.
{http_port, 10002}.
