%% List of IP addresses where FMKe should try to connect at boot time.
%% NOTE: Must use one of the following structures:
%% (1): ["192.168.1.1", "192.168.1.2"]
%% (2): [{192,168,1,1} {192,168,1,2}]
%% (3): "192.168.1.1 192.168.1.2"
{database_addresses, ["127.0.0.1"]}.

%% List of ports where FMKe should try to connect at boot time.
%% NOTE: Must use one of the following structures:
%% (1): ["8080", "8081"]
%% (2): [8080, 8081]
%% (3): "8080 8081"
{database_ports, ["8087"]}.

%% Target back end data store. This is required in order for FMKe to load the
%% correct drivers to connect to your desired data store.
%% Currently FMKe supports the following data stores:
%% antidote, riak_kv
%% Please select one of the previous values in the form of an erlang atom
%% (e.g. riak) or string (e.g. "riak")
{target_database, antidote}.

%% When FMKe connects to the database you choose it opens a pool of connections.
%% This parameter configures the connection pool size.
%% Please note that in deployments with connections to multiple back end nodes,
%% the number of connections will be equally shared among all nodes
%% Example: connecting FMKe to 2 nodes with a connection pool size of 30 will
%% open 15 connections to each database node.
{connection_pool_size, 30}.

%% The HTTP port to which the FMKe HTTP server binds to. Running on a system
%% reserved port interval (1-2048) will require superuser privileges.
{http_port, 9090}.
